## 문자열은 어떻게 만들고 사용할까?

In [1]:
# 큰따옴표

a = "hello world"
print(a)

hello world

In [2]:
# 작은따옴표

b = 'python is fun'
print(b)

python is fun

In [3]:
# 큰따옴표 3개 연속으로 

c = """ 
Life is too short, You need python
"""

print(c)

Life is too short, You need python

In [5]:
# 작은따옴표 3개 연속으로 

d = ''' Life is too short, You need python'''

print(d)

 Life is too short, You need python

In [6]:
a = "python's favorite food is perl"

print(a)

python's favorite food is perl

In [7]:
b = '"python is very easy." he says.'
print(b)

"python is very easy." he says.

In [10]:
food = 'Phthon\'s favorite food is perl' 
print(food)
say = "\"Python is very easy.\" he says." 
print(say)

Phthon's favorite food is perl
"Python is very easy." he says.

In [15]:
# 작은따옴표3개, 큰따옴표3개

multiline = ''' 
    Life is too short
    You need python
''' 
multiline2 = """ 
Life is too short
You need python
""" 
print(multiline)
print(multiline2)

    Life is too short
    You need python


Life is too short
You need python

### 문자열 연산하기 
>문자열을 더하거나 곱할 수 있다.

In [19]:
# 문자열 더해서 연결하기 
head = "python" 
tail = " is fun"
head + tail

'python is fun'

In [21]:
# 문자열 곱하기
a = "python"
print(a * 2)

pythonpython

In [22]:
print("=" * 50)
print("My program")
print("=" * 50)

==================================================
My program
==================================================

In [24]:
# 문자열 길이 구하기 len()

a = "life is too short, You need python" 
print("a: ", len(a))

b = "python "
print("b: ", len(b))

a:  34
b:  7

### 문자열 인덱싱과 슬라이싱

In [28]:
a = "life is too short, You need python"
print(len(a))

print(a[0])
print(a[1])
print(a[2])
print(a[3])

print(a[-1])
print(a[-2])

34
l
i
f
e
n
o

In [29]:
print(a[0] + a[1] + a[2] + a[3])

life

In [31]:
a[0:5]

'life '

In [32]:
a = "20240806Sunny" 

year = a[0:4]
day = a[4:8]
weather = a[8:]

print("year: ", year)
print("day: ", day)
print("weather: ", weather)

year:  2024
day:  0806
weather:  Sunny

In [42]:
# 문자열 바꾸기

a = "pithon"
print(a[:1])
print(a[2:])

print(a[:1] + "y")

p
thon
py

In [39]:
# 숫자 바로 대입

a = 3
print("i eat %d apples" % a)

i eat 3 apples

In [44]:
# 문자열 바로 대입

print("i eat %s apples" % "five")

i eat five apples

In [46]:
# 숫자 값을 나타내는 변수로 대입

number = 3
print("i eat %d apples" % number)

i eat 3 apples

In [47]:
# 2개 이상의 값 넣기

number = 10
day = "three"

print(" i ate %d apples, so i was sick for %s days" % (number, day))

 i ate 10 apples, so i was sick for three days

In [49]:
a = 98
print("error is %d%%" % a)
print(f"Error is {a}%")

error is 98%
Error is 98%

a="20240807Rainy" 출력값을 "2024년 8월 7일 오늘의 날씨는 Rainy 입니다."

In [2]:
a="20240807Rainy"

year = a[0:4] 
month = a[5:6] 
day = a[7:8] 
weather = a[8:]

print(f"{year}년 {month}월 {day}일 오늘의 날씨는 {weather} 입니다.")

2024년 8월 7일 오늘의 날씨는 Rainy 입니다.

### 포맷 코드와 숫자 함께 사용하기

In [9]:
# 정렬과 공백

a = "hi"
print("안녕하세요 %s 저는 파이썬을 좋아해요 " % a)

# 오른쪽 정렬
print("안녕하세요 %10s 저는 파이썬을 좋아해요 " % a)

# 왼쪽 정렬
print("안녕하세요 %-10s 저는 파이썬을 좋아해요 " % a)

print("안녕하세요" + a + "저는 파이썬을 좋아해요")

안녕하세요 hi 저는 파이썬을 좋아해요
안녕하세요         hi 저는 파이썬을 좋아해요
안녕하세요 hi         저는 파이썬을 좋아해요
안녕하세요hi저는 파이썬을 좋아해요

In [12]:
# 소수점 표현하기

a = 3.42137324

print("소수점으로 %f" % a)
print("소수점으로 %0.4f" % a)
print("소수점으로 %.4f" % a)

소수점으로 3.421373
소수점으로 3.4214
소수점으로 3.4214

### format 함수를 사용한 포매팅

In [18]:
# 숫자 바로 대입하기

print("i eat {0} apples".format(3))

# 문자열 바로 대입

print("I eat {0} apples".format("five"))

# 숫자 값을 변수로 대입

number = 3
print("I eat {0} apples".format(number))

i eat 3 apples
I eat five apples
I eat 3 apples

In [23]:
# 2개 이상의 값을 넣기 

number = 10
day = "three"
print("I ate {0} apples. so I was sick for {1} days".format(number,day))

# 이름으로 넣기

print("I ate {number} apples. so I was sick for {day} days".format(number=10,day=3))

# 인덱스, 이름 혼용사용

print("I ate {0} apples. so I was sick for {day} days".format(number,day=3))

I ate 10 apples. so I was sick for three days
I ate 10 apples. so I was sick for 3 days
I ate 10 apples. so I was sick for 3 days

In [28]:
# 왼쪽정렬

print("정렬 {0} 입니다".format("hi"))
print("정렬 {0:<10} 입니다".format("hi"))

# 오른쪽정렬

print("정렬 {0:>10} 입니다".format("hi"))

# 중간정렬

print("정렬 {0:^10} 입니다".format("hi"))

정렬 hi 입니다
정렬 hi         입니다
정렬         hi 입니다
정렬     hi     입니다

In [33]:
# 공백채우기

print("공백 {0}".format("hi"))
print("공백 {0:=^10}".format("hi"))
print("공백 {0:*^10}".format("hi"))
print("공백 {0:*<10}".format("hi"))
print("공백 {0:*>10}".format("hi"))
print("공백 {0:!>10}".format("hi"))

공백 hi
공백 ====hi====
공백 ****hi****
공백 hi********
공백 ********hi
공백 !!!!!!!!hi

In [40]:
# 소수점 표현하기 

y = 3.42131234

print("소수점자리표현: {0}".format(y))
print("소수점자리표현: {0:0.4f}".format(y))
print("소수점자리표현: {0:.4f}".format(y))
print("소수점자리표현: {0:10.4f}".format(y))
print("소수점자리표현: {0:^10.4f}".format(y))
print("소수점자리표현: {0:$^10.4f}".format(y))
print("소수점자리표현: {0:❤^10.4f}".format(y))

# {또는} 문자 표현

print("문자표현: {{and}}".format())

소수점자리표현: 3.42131234
소수점자리표현: 3.4213
소수점자리표현: 3.4213
소수점자리표현:     3.4213
소수점자리표현:   3.4213
소수점자리표현: $$3.4213$$
소수점자리표현: ❤❤3.4213❤❤
문자표현: {and}

### f 문자열 포매팅

In [42]:
name = "홍길동" 
age = 30
print(f'나의 이름은 {name}입니다. 나이는 {age}입니다.')
print(f'나의 이름은 {name}입니다. 나이는 {age+10}입니다.')

나의 이름은 홍길동입니다. 나이는 30입니다.
나의 이름은 홍길동입니다. 나이는 40입니다.

In [46]:
d = {"name":"홍길동", "age": 30}
print(f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.')

나의 이름은 홍길동입니다. 나이는 30입니다.

In [51]:
a = "hi" 

print("f포매팅 정렬방법")
print(f"f포매팅 정렬방법 {a} 입니다")

# 왼쪽정렬
print(f"f포매팅 정렬방법 {a:<10} 입니다")

# 오른쪽정렬
print(f"f포매팅 정렬방법 {a:>10} 입니다")

# 중앙정렬
print(f"f포매팅 정렬방법 {a:^10} 입니다")

# 공백 채우기
print(f"f포매팅 정렬방법 {a:-^10} 입니다")

f포매팅 정렬방법
f포매팅 정렬방법 hi 입니다
f포매팅 정렬방법 hi         입니다
f포매팅 정렬방법         hi 입니다
f포매팅 정렬방법     hi     입니다
f포매팅 정렬방법 ----hi---- 입니다

In [54]:
y = 3.42134234

print("소수점표현방식: ")
print(f"소수점표현방식: {y}")
print(f"소수점표현방식: {y:0.4f}")

소수점표현방식:
소수점표현방식: 3.42134234
소수점표현방식: 3.4213

### 문자열 관련 함수들

In [60]:
# 문자 개수 구하기 

a= "hobby"
print(a.count("b"))
print(len(a))

# 위치 알려주기 find()
b="Python is the best choice"
print(b.find("b"))
print("찾지못했을때 반환하는 값: ",b.find("K"))

# 위치 알려주기 index()
c = "Life is too short"
print("index(): ",c.index("t"))

2
5
14
찾지못했을때 반환하는 값:  -1
index():  8

In [61]:
# 문자열 삽입 join()

",".join("abcd")

'a,b,c,d'

In [63]:
# upper()

a = "hi"
print(a.upper())

# lower()

b = "HELLO"
print(b.lower())

HI
hello

In [69]:
a = "     hi     "
print(f"|{a}|")

# 왼쪽 공백지우기 lstrip()

print(f"|{a.lstrip()}|")

# 오른쪽 공백지우기 rstrip()

print(f"|{a.rstrip()}|")

#양쪽 공백지우기 strip()

print(f"|{a.strip()}|")

|     hi     |
|hi     |
|     hi|
|hi|

In [72]:
# 문자열 바꾸기 replace

a = "Life is too short"
print(a.replace("Life", "Your leg"))

Your leg is too short

In [78]:
# 문자열 나누기 split() -> List[]

a = "Life is too short"
print(a.split())

b = "a:b:c:d"
print(b.split(':'))

c = "사과,감자,수박,포도"
print(c.split())
print(c.split(","))

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']
['사과,감자,수박,포도']
['사과', '감자', '수박', '포도']