1. scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78} Charlie의 점수를 출력하세요

In [2]:
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78}
scores['Charlie']

78

2. person = {'name': 'Alice', 'age': 25} 주어졌을 때 이름과 나이를 출력하는 프로그램을 만드세요.

In [12]:
person = {'name': 'Alice', 'age': 25} 
print(person['name'])
print(person['age'])
print(f"이름은 {person['name']}이고,나이는 {person['age']}입니다.")

Alice
25
이름은 Alice이고,나이는 25입니다.

3. grades = {'math': 90, 'science': 85, 'english': 88} 주어진 딕셔너리의 과목의 합과 평균을 구해주세요

In [7]:
grades = {'math': 90, 'science': 85, 'english': 88}
print(grades['math']+grades['science']+grades['english'])
print((grades['math']+grades['science']+grades['english'])/3)

263
87.66666666666667

4. employee = {'name': 'ken', 'position': 'Manager', 'salary': 5000} 에서 salary 요소를 삭제해 주세요

In [11]:
employee = {'name': 'ken', 'position': 'Manager', 'salary': 5000}
employee('salary')

SyntaxError: cannot delete function call (811682199.py, line 2)

5. foods = {"딸기": 1000, "사과": 2000, "수박": 3000} 에서 "김치": 5000 을 추가해 주세요 |

In [20]:
foods = {"딸기": 1000, "사과": 2000, "수박": 3000}
foods["김치"]=5000
foods

{'딸기': 1000, '사과': 2000, '수박': 3000, '김치': 5000}

6. foods = {"딸기": 1000, "사과": 2000, "수박": 3000} 에서 수박이 있으면 True 를 출력하는 프로그램을 만드세요

In [21]:
foods = {"딸기": 1000, "사과": 2000, "수박": 3000} 
print("수박" in foods)

True